@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,700');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Hind Guntur', Helvetica, sans-serif;
  color: #333;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

p.main {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

form {
  position: relative;
  margin-bottom: 20px;
}

p.form {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, .7);
  margin-bottom: 40px;
}

input[type="email"] {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  color: rgba(51, 51, 51, .8);
  border: 1px solid rgba(151, 151, 151, .4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  font-weight: normal;
}

input[type="email"]:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 20px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 20px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 20px;
}

strong {
  font-weight: bold;
}

button[type='submit'] {
  display: inline-block;
  margin-top: 10px;
  background-color: #5F27CD;
  color: white;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  text-transform: lowercase;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

button[type='submit']:hover {
  opacity: 1;
}

@media (min-width: 600px) {
  button[type='submit'] {
    position: absolute;
    margin-top: 0px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    font-size: 21px;
  }

  .text {
    width: 60%;
  }

  h1 {
    font-size: 36px;
  }

  p.main {
    font-size: 22px;
  }
}
